<h1>About</h1>
<p><b> DePaul University <br>
Llecenia Avalos</b> <br>
    <br>
This site was created in the Fall2017 for class, <i>IT 231-410: Web Development I.</i> </p>
 <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>