<h1>About</h1>
<p>My name is Llecenia Avalos and I am currently taking online classes at DePaul University.
This site was created in the Fall2017 for class IT 231-410: Web Developement I. </p>
 <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>