<h1>Help</h1>
<p><b>Agile Web Development with Rails 5.0</b> by Sam Ruby & Dave Thomas</p>

<p>List of topics/labs covered in class for this site:</p>
<ul>
   <li>Lab 6: Initial Depot Scrum (Ch.6 & 7)</li> 
   <li>Lab 7: Depot Catalog and Cart (Ch.8 & 9)</li>
   <li>Lab 8: Depot - Enhanced Shopping Cart (Ch.10)</li>
   <li>Lab 9: Checkout (Ch.12)</li>
   <li>Lab 10: Login (Ch.14) & Final Project</li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

